/*
 *
 */

#logo {
  height: 60px;
  width: auto;
  margin: 2.5px 10px;
  vertical-align: center;
}

#transcript-card {
  width: 600px;
  margin: 0 auto;
}

#transcript-txt {
  border: none;
  min-height: 50px;
  height: auto;
}

#video-buttons {
  text-align: center;
  margin: 20px;
}

#video-wrap {
  text-align: center;
  height: calc(100vh-100px);
  margin-bottom: 20px;
}

#video {
  border-radius: 5px;
}

@media only screen and (max-width: 1025px) {
#target {
  position: absolute;
  width: 40px;
  left: calc(50% - 20px);
  top: 50%;
  color: #ffa726;
  font-size: 500%;
  display: none;
}

#box {
  border: 3px solid #ffa726;
  width: 300px;
  height: 300px;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  display: none;
}
}
@media only screen and (min-width: 1025px) {
#target {
  position: absolute;
  width: 40px;
  left: calc(50% - 20px);
  top: 50%;
  color: #ffa726;
  font-size: 500%;
  display: none;
}

#box {
  border: 3px solid #ffa726;
  width: 300px;
  height: 300px;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 150px + 60px);
  display: none;
}
}

table {
  color: white;
}

table a, p a {
  color: white;
  text-decoration: underline;
}
