/*
 *
 */

#transcript {
  width: 600px;
  margin: 0 auto;
}

#video-buttons {
  text-align: center;
  margin: 20px;
}

#video-wrap {
  text-align: center;
  margin-bottom: 20px;
}

#video {
  border-radius: 5px;
}

#target {
  position: absolute;
  width: 40px;
  left: calc(50% - 20px);
  top: 50%;
  color: #ffa726;
  font-size: 500%;
  display: none;
}

#box {
  border: 3px solid #ffa726;
  width: 400px;
  height: 400px;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 200px + 40px);
  display: none;
}
