<html>
<head>
<title>Lip Reading</title>
<!-- Materialize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Regular CSS -->
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<div>
  <nav>
    <div class="nav-wrapper orange lighten-1">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Film<i class="material-icons">videocam</i></a></li>
        <li><a href="#">Transcript</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </nav>
  <input type="file" hidden id="toFlask">
  </input>
  <button hidden type="submit" class='btn-hidden' id = "go"></button>
  </form>
  <button id='request' class='btn'>
    Request Camera
  </button>
  <button id='start' class='btn' onclick = "startRecording()">
    Start Recording
  </button>
  <button id='stop' class='btn' onclick = "stopRecording()" hidden>
    Stop Recording
  </button>
  <video id='video' autoplay></video>
  <div id='transcript'>
    Transcript:
    <br /><span id='transcript-txt'></span>
  </div>
  <ul id='ul'>
    Downloads List:
  </ul>

</div>
<!-- Materialize JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type = "text/javascript">
var video, reqBtn, startBtn, stopBtn, ul, stream, recorder, timer;
video = document.getElementById('video');
reqBtn = document.getElementById('request');
startBtn = document.getElementById('start');
stopBtn = document.getElementById('stop');
ul = document.getElementById('ul');
reqBtn.onclick = requestVideo;
startBtn.onclick = startRecording;
stopBtn.onclick = stopRecording;
startBtn.disabled = true;
ul.style.display = 'none';
stopBtn.disabled = true;

function requestVideo() {
  navigator.mediaDevices.getUserMedia({
      video: true,
      audio: true
    })
    .then(stm => {
      stream = stm;
      reqBtn.style.display = 'none';
      startBtn.removeAttribute('disabled');
    }).catch(e => console.error(e));
}

function startRecording() {
  recorder = new MediaRecorder(stream, {audioBitsPerSecond: 0});
  recorder.start();
  video.srcObject = stream; 
  stopBtn.removeAttribute('disabled');
  startBtn.disabled = true;
  setTimeout(sendNew, 3000)
  
}

function sendNew(){
  recorder.ondataavailable = e => {
    ul.style.display = 'block';
    var a = document.createElement('a'),
      li = document.createElement('li');
    a.download = ['video_', (new Date() + '').slice(4, 28), '.webm'].join('');
    a.href = URL.createObjectURL(e.data);
    a.textContent = a.download;

    // something
    var formData = new FormData();
    formData.append('clip', e.data, a.download);
    console.log(typeof(e.data));
    // formData.append('filename', a.download);
    var request = new XMLHttpRequest();
    request.open("POST", "http://127.0.0.1:5000/form");
    // request.setRequestHeader("Content-Type", "multipart/form-data");
    request.onload = function() {
      console.log(this.responseText);
    }
    request.send(formData);

    li.appendChild(a);
    ul.appendChild(li);
    // filesub = document.getElementById('toFlask');
    // document.getElementById('go').click(); 
  };
  recorder.stop();
  recorder.start();
  timer = setTimeout(sendNew, 3000)
}

function stopRecording() {
  recorder.ondataavailable = e => {
    ul.style.display = 'block';
    var a = document.createElement('a'),
      li = document.createElement('li');
    a.download = ['video_', (new Date() + '').slice(4, 28), '.webm'].join('');
    a.href = URL.createObjectURL(e.data);
    a.textContent = a.download;
    li.appendChild(a);
    ul.appendChild(li);
  };
  recorder.stop();
  if(timer) {
    clearTimeout(timer);
    timer = 0;
  }
  video.srcObject = null; 
  stopBtn.removeAttribute('disabled');
  startBtn.removeAttribute('disabled');
  stopBtn.disabled = true;
}
</script>

</body>
</html>
